---
import Layout from "@/layouts/Layout.astro";
import { css } from "@/styled-system/css";
---

<Layout notFound ogType="article" title="404 Not Found." description="ページが見つかりませんでした。">
	<p
		class={css`
			text-align: center;
			padding: 40px 0;
		`}
	>
		404
	</p>
</Layout>
