---
import Layout from "@/layouts/Layout.astro";
---

<Layout notFound ogType="article" title="404 Not Found." description="ページが見つかりませんでした。">
	<p id="not-found">404</p>
</Layout>

<style>
	#not-found {
		text-align: center;
		padding: 40px 0;
	}
</style>
