@font-face {
	font-family: "きろ字";
	src: url("https://r2.shikiiro.net/kiloji.ttf");
	font-display: block;
}

@layer base {
	body {
		font-family: "きろ字";
		font-size: 18px;
		line-height: 1.6;
		font-weight: 400;
		color: #777777;
		font-weight: normal;
		background-color: white;
	}

	a {
		color: #1976d2;
	}

	*:focus {
		outline: none;
	}
}
